<div class="center jumbotron">
    <h1>to do list</h1>
    <h2>
        このアプリを使うことで、簡単にタスク管理ができます。<br>
        テスト。説明文をそのうち書く。
    </h2>

    <%= link_to "START", '#', class: "btn btn-lg btn-primary" %>
</div>