@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$default1:          #2B616D;
$default2:          #B2DBD5;
$default3:          #FA8D62;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 125px;
  padding-top: 60px;
  font-family: 'Imprima', sans-serif;
  font-family: 'Comfortaa', cursive;
  background-color: $default2;
  height: 100%;
  a {
    color: $default3;
    text-decoration: none;
    &:hover {
      color: $default2;
      text-decoration: none;
    }
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

h3 {
  font-size: 1.5em;
  margin-top: 30px;
}

p {
  font-size: 1em;
}

/* jumbotron */

.jumbotron-extend {
	background-color: #fff;
}


/* header */

$bgDefault      : #2b616d;
$bgHighlight    : #2b616d;
$colDefault     : #ffffff;
$colHighlight   : #ffffff;
$dropDown       : false;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

#logo {
  float: left;
  margin-left: 15px;
  margin-right: 10px;
  font-size: 1.7em;
  font-weight: bold;
  color: white;
  letter-spacing: 0px;
  padding-top: 9px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  position: absolute;
	bottom: 0; 
  width: 100%;
  height: 80px;
  background-color: $default1;
  color: #fff;
  .container {
    padding: 20px;
    text-align: center;
  }
  a {
    color: #fff;
    &:visited {
      color: #fff;
    }
  }
  small {
    font-size: 1em;
    float: right;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, select, .uneditable-input {
  float: center;
  width: 50%;
  height: 50px;
  margin-bottom: 15px;
  @include box_sizing;
}

textarea {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
  height: 45px;
  padding: 0.5em 1em;
}

.form-control:focus, input:hover, input:active, textarea:hover, textarea:active{
  outline: 0;
}

input {
  height: auto !important;
}

section.task_form {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

ul.radio {
  margin: 10px auto 15px;
  padding: 0;
  width: 80%;
  display: block;
  list-style-type: none;
  li {
    display: inline;
    font-size: 1em;
    margin-right: 1.5em;
    input.priority {
      margin: 3px 0 0 -20px;
      width: 20px;
    }
    label {
      padding: 0;
    }
  }
}

#error_explanation {
  margin: auto;
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
  }
}

/* tasks */

section.tasks {
  margin-top: 45px;
}

ol.tasks {
  list-style: none;
  margin: 0, 40px;
  li {
   padding: 20px 0;
  }
  .content {
    display: inline-block;
    vertical-align:middle;
    text-align: center;
    margin: 10px 0;
  }
  .task-complete {
    text-decoration: line-through;
    font-style: italic;
    color: #bbb;
  }
}

#task_text_body {
  text-align: center;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.1em;
}

.task-counter {
  list-style-type: none;
  border-bottom: 1px solid #eaeaea;
  li {
    display: inline-block;
    padding: 20px;
    font-size: 1.4em;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 1px;
  }
}

.all-tasks {
  display: inline-block;
}

.like {
	display: inline-block;
}

/* button */

.btn-primary {
  display: inline-block;
  padding: 0.3em 1em;
  width: 30%;
  text-decoration: none;
  background-color: #fff;
  color: $default3;
  border: solid 2px $default3;
  border-radius: 3px;
  transition: .4s;
}

.btn-primary:hover, .btn-primary:focus, 
.btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active.focus,
.btn-primary.active, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary, 
.open > .dropdown-toggle.btn-primary:hover,
.open > .dropdown-toggle.btn-primary:focus, 
.open > .dropdown-toggle.btn-primary.focus,
.btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus {
  background: $default3;
  border: solid 2px $default3;
  color: white; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

.btn-primary2 {
  display: inline-block;
  height: 45px;
  width: 45px;
  margin-left: 10px;
  background-color: #fff;
  color: $default3;
  border: solid 2px $default3;
  border-radius: 50%;
  transition: .2s;
}

.btn-primary2:hover, .btn-primary2:focus, 
.btn-primary2:active, .btn-primary2:active:focus, .btn-primary2:active:hover, .btn-primary2:active.focus,
.btn-primary2.active, .btn-primary2.active:focus, .btn-primary2.active:hover, .btn-primary2.active.focus,
.open > .dropdown-toggle.btn-primary2, 
.open > .dropdown-toggle.btn-primary2:hover,
.open > .dropdown-toggle.btn-primary2:focus, 
.open > .dropdown-toggle.btn-primary2.focus,
.btn-primary2.disabled:hover, .btn-primary2[disabled]:hover, fieldset[disabled] .btn-primary2:hover,
.btn-primary2.disabled:focus, .btn-primary2[disabled]:focus, fieldset[disabled] .btn-primary2:focus,
.btn-primary2.disabled.focus, .btn-primary2[disabled].focus, fieldset[disabled] .btn-primary2.focus {
  background: $default3;
  border: solid 2px $default3;
  color: white; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
}

/* 背景なしボタン */

.transparent_btn {
  background-color: #fff;
  padding: 0;
	width: 1.5em;
	vertical-align: middle;
  text-align: center;
  &:hover {
    background-color: #fff;
  }
}

/* icon */

.fa-icon {
  vertical-align: middle;
  font-size: 1.5em;
  color: $default3;
}

.fa-task_edit {
  text-align: center;
  vertical-align: middle;
  font-size: 1.3em;
  color: $default3;
  margin-left: 10px;
  &:hover {
    color: $default2;
  }
}

.fa-delete {
	text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
  color: $default3;
  margin-left: 10px;
}

.fa-iine {
	text-align: center;
  vertical-align: middle;
	margin-right: 3px;
	font-size: 1.1em;
}

.fa-post {
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
}
.fa-footer{
	font-size: 1.5em;
	text-align: center;
  vertical-align: middle;
}