<footer>
	<div class="container">
    <a href="https://twitter.com/it_mycareerjp" target="_blank"><i class="fab fa-twitter fa-2x fa-fw"></i></a>
	<small><a href="https://www.nipponrick.co.jp/" target="_blank">rick japan</a></small>
	</div>
</footer>